<ng-container *ngIf="isLoggedIn">
  <div class="list" *ngIf="Todos">
    <!-- greetings banner -->
    <div *ngIf="user" class="greetings">
      <h3>Hello</h3>
      <h4> {{user.firstName}} {{user.lastName}}</h4>
    </div>

    <div class="date">Today's Date: <br> {{todayDate|date}}</div>

    <div class="filterGroup">
      <div class="filterSelectors">
        <!-- filter input for High/Medium/Low results -->
        <div class="group-input">
          <label for="priority">Priority:</label>
          <select name="priority" id="priority"  [(ngModel)]="todoPriorityFilter">
            <option value="All" selected>All</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </div>
        <!-- filter input for incomplete/complete results -->
        <div class="group-input">
          <label for="Status">Status:</label>

          <select name="Status" id="Status" (ngModelChange)="updateStatus($event)" [(ngModel)]="todoIsCompleteFilter">
            <option value="All" selected>All</option>
            <option value="true">complete</option>
            <option value="false">Incomplete</option>
          </select>
        </div>
      </div>
      <div class="group-button">
        <button class="btnAdd" (click)="addTodo()">add Todo</button>
      </div>
    </div>
 
    <ng-container>
     
      <div *ngIf="todoPriorityFilter=='High'||todoPriorityFilter=='All'" class="todo-list"> 
      
        <h1>High Priority</h1>

        <div *ngIf="isHighZero;else showHigh" class="noNote">
          <p class="poppins-medium">No todos</p>
        </div>

        <ng-template #showHigh>

          <ng-container *ngFor="let todo of Todos">
            <todo-item 
              *ngIf="todo.priority==todoPriorityFilter || (todo.priority=='High' && todoPriorityFilter=='All')"
              [todo]="todo" 
              (onEdit)="editTodo(todo)" 
              (onCheck)="checkTodo(todo)"
              (onDelete)="deleteTodo(todo)" 
            />
          </ng-container>
          

        </ng-template>

      </div>

      <div *ngIf="todoPriorityFilter=='Medium'||todoPriorityFilter=='All'" class="todo-list">
        <h1>Medium Priority</h1>

        <div *ngIf="isMedZero;else showMed" class="noNote">
          <p class="poppins-medium">No todos</p>
        </div>

        <ng-template #showMed>

          <ng-container *ngFor="let todo of Todos">
            <todo-item 
              *ngIf="todo.priority==todoPriorityFilter || (todo.priority=='Medium' && todoPriorityFilter=='All')"  
              [todo]="todo" 
              (onEdit)="editTodo(todo)" 
              (onCheck)="checkTodo(todo)"
              (onDelete)="deleteTodo(todo)" 
            />
          </ng-container>

        </ng-template>

      </div>

      <div *ngIf="todoPriorityFilter=='Low'||todoPriorityFilter=='All'" class="todo-list">
        <h1>Low Priority</h1>

        <div *ngIf="isLowZero;else showLow" class="noNote">
          <p class="poppins-medium">No todos</p>
        </div>

        <ng-template #showLow>

          <ng-container *ngFor="let todo of Todos">
            <todo-item 
              *ngIf="todo.priority==todoPriorityFilter || (todo.priority=='Low' && todoPriorityFilter=='All')"  
              [todo]="todo" 
              (onEdit)="editTodo(todo)" 
              (onCheck)="checkTodo(todo)"
              (onDelete)="deleteTodo(todo)" 
            />
          </ng-container>

        </ng-template>

      </div>


    </ng-container>

    <!-- scrollup button -->
     <button *ngIf="showScrollButton" class="btnScrollUp" (click)="scrollToTop()"><i class="fa fa-arrow-up fa-xl"></i></button>


     <!-- sign up  loading spinner -->
     <ngx-spinner 
     type="ball-clip-rotate-pulse" 
     size="default"
     [bdColor]="bdcolor"
     [color]="ani_color" 
     size="medium"
      >
         <p class="poppins-medium" > {{loadingMessage}} </p>
 </ngx-spinner>
  </div>

</ng-container>