.footer{
    padding: 5px;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer .footer-text{
    text-align: center;
    font-weight: 500;
}

.footer .owner-text{
    text-align: center;
    font-weight: 400;
    color: #4d4d4d;
}
