<div class="PageNotFound">
    <div class="form-group brand">
        <h1 class="app-name">Daily <span class="app-name-suff">Todo</span><span><i class="fa-solid fa-pen-fancy"></i></span></h1>
        <p class="slogan">Give your daily tasks order.</p>
    </div>
    <div class="NotFoundMessage">
        <p>  
            Oops Sorry this page does'nt exist. <br>
            click below you'll be redirected to the login page
        </p>
    </div>
    <div class="button-group"><Button class="btnRedirect" (click)="redirectToLogin()">Login Page</Button></div>
</div>
 

