<div class="login">
    <div class="app-name-group">
        <h1 class="app-name">Daily <span class="app-name-suff">Todo</span><span><i class="fa-solid fa-pen-fancy"></i></span></h1>
        <p class="slogan">Give your daily tasks order.</p>
    </div>
    <form [formGroup]="loginForm"  (ngSubmit)="login()" class="login-form" >
        <div class="form-group">
            <h2 class="greeting">Login</h2>
        </div>
        <div class="form-group">
            <label for="email">Email :
            <input  [class.ng-invalid]="loginForm.get('email')?.touched" 
                    type="email" id="email" formControlName="email" 
                    placeholder="example@domain.com">
            </label>
                <div class="alert" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                    <div *ngIf="loginForm.get('email')?.errors?.['required'] ">
                        <small>email is required</small>
                    </div>
                    <div *ngIf="loginForm.get('email')?.errors?.['pattern'] ">
                       <small>enter valid email</small>
                    </div>
                    
                </div>
            
        </div>
    
        <div class="form-group">
            <label for="password">Password :
                <input  [class.ng-invalid]="loginForm.get('password')?.touched"
                    type="password" id="password"  name="password"
                    formControlName="password" >
            </label>
            <div class="alert" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                <div *ngIf="loginForm.get('password')?.errors?.['required'] ">
                  <small>  password is required</small>
                </div>
            </div>
            <div class="alert" *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.invalid">
                <div *ngIf="loginForm.get('password')?.errors?.['invalidPassword'] ">
                   <small>
                         Enter valid password, 
                        <br>should atleast have 1 UpperCase letter,1 Number and 
                        1 special character 
                        ["&#64;", "$", ".","#", "!", "%", "*", "?", "&", "^"] 
                    </small>
                </div>
                <div *ngIf="loginForm.get('password')?.errors?.['minlength'] ">
                    <small>
                        password must be atleast 6 characters and at most 15 chaacters
                    </small>  
                </div>
            </div>
        </div>

        <div *ngIf="!loggedIn" class="alert poppins-light ">{{message}}</div>

        <div class="button">
            <input [disabled]="!loginForm.valid" type="submit" id="submit" value="login">
        </div>
        <div class="button">
            <p class="poppins-extralight">Not Registered? <br>Sign up at the click of a button</p>
            <button type="button" (click)="backToSignUp()">Sign Up</button>
        </div>
    </form>
</div>
 
