<div class="addTodo" *ngIf="LoginService.isLoggedIn()">
    <div class="app-name-group">
        <h1 class="app-name">Daily <span class="app-name-suff">Todo</span><span><i class="fa-solid fa-pen-fancy"></i></span></h1>
        <p class="slogan">Give your daily tasks order.</p>
    </div>
    <form [formGroup]="addForm" (ngSubmit)="addTodo()"   class="add-todo-form" >
        <div class="form-group">
            <h2 class="title">Add Todo</h2>
        </div>
        <div class="form-group">
            <label for="todo">Todo Text :
            <input  [class.ng-invalid]="addForm.get('todo')?.touched" 
                    type="text" id="todo" formControlName="todo" 
                    placeholder="Going out for drinks @ 7pm with Martin">
            </label>
                <div class="alert" *ngIf="addForm.get('todo')?.touched && addForm.get('todo')?.invalid">
                    <div *ngIf="addForm.get('todo')?.errors?.['required'] ">
                        <small>todo is required</small>
                    </div>
                    <div *ngIf="addForm.get('todo')?.errors?.['pattern'] ">
                       <small> no other characters valid except for text and symbol '&commat;'</small>
                    </div>
                    
                </div>
            
        </div>

        <div class="form-group">
            <label for="priority">Priority :
                    <select name="priority" id="priority"   formControlName="priority" >
                        <option  value="High" selected>High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select>
            </label>
        </div>

        <div class="form-group">
            <label for="dueDate">dueDate :
            <input  [class.ng-invalid]="addForm.get('dueDate')?.touched" [min]="minDate"
                    type="datetime-local" id="dueDate" formControlName="dueDate" 
                    placeholder="example@domain.com">
            </label>
            <div class="alert" *ngIf="addForm.get('dueDate')?.touched && addForm.get('dueDate')?.invalid">
            <div *ngIf="addForm.get('dueDate')?.errors?.['invalidDate']">
                <small>
                    Please select a date/time from today or beyond
                </small>  
            </div>
            </div>
        </div>

       
        <div class="button">
            <input [disabled]="!addForm.valid" type="submit" id="submit" value="add">
        </div>
        <div class="button">
            <button type="button" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
 

