.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 20px;
    width: 100%;
    height: 90%;
    margin: 2.5% 0
}

.signup-success{
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 10px 5px;
    width: 80%;
    height: 3em;
    background-color:  rgba(2, 177, 75, 0.079);
    color: white;
    border: 1px solid rgb(2, 177, 75);
}
.signup-success p{
    text-align: center;
    color:rgb(2, 177, 75);
    width: 100%;
}

@media screen and (max-width:800px) {
    form.signup-form{
        min-width: 80%;
    }

    .form-group{
        height: auto;
    }

    .form-group label{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:600px) {
    form.signup-form{
        width: 95%;
    }
}

@media screen and (max-width:480px) {
    .signup{
        height: auto;
    }
}


@media screen and (min-width:480px) and (min-height:1000px){
    .signup{
        gap: 50px;
        height: 100%;
        margin: 15% 0
    }
    
}


@media screen and (min-width:1000px) and (min-height:800px){
    .signup{
        gap: 50px;
        height: 100%;
        margin: 15% 0
    }
    
}

@media screen and (min-width:700px) and (min-height:1000px){
    .signup{
        gap: 50px;
        height: 100%;
        margin: 15% 0
    }
    
}